<f:layout name="Default.html" />

<f:section name="Title"><f:translate id="header.registration" locale="{langDetector.language}" package="Intega3.Template" /></f:section>

<f:section name="Content">
 
    <f:flashMessages />
 
    <f:form action="doCreateUser" controller="Administration" method="post">
        <fieldset>
            <legend><f:translate id="form.register" locale="{langDetector.language}" package="Intega3.Template" /></legend>
            
            <p>
                <label><f:translate id="username" locale="{langDetector.language}" package="Intega3.Template" />:</label>
                <f:form.textfield name="name" />
            </p>
            <p>
                <label><f:translate id="password" locale="{langDetector.language}" package="Intega3.Template" />:</label>
                <f:form.password name="pass" />
            </p>
            <p>
                <label><f:translate id="password2" locale="{langDetector.language}" package="Intega3.Template" />:</label>
                <f:form.password name="pass2" />
            </p>
            <p>
                <f:form.submit value="{f:translate(id:'register' locale:langDetector.language package:'Intega3.Template')}" />
            </p>
        </fieldset>
    </f:form>
</f:section>