<f:layout name="Default" />

<f:section name="Title"><f:translate id="administration.users" locale="{langDetector.language}" package="Intega3.Locale" /></f:section>

<f:section name="Content">
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
	<f:if condition="{accounts}">
        <f:then>
            <h2>Account list</h2>
            
            <f:link.action action="createUser">
                <i role="presentation" class="material-icons">add_box</i>
                Create account
            </f:link.action>
            <br><br>
            
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                <f:for each="{accounts}" as="account">
                    <tr>
                        <td>
                            <f:link.action action="show" arguments="{account: account}">{account.accountidentifier}</f:link.action>
                        </td>
                        <td>
                            
                        </td>
                        <td><f:format.date>{account.creationdate}</f:format.date></td>
                        <td><span class="label label-success">Active</span></td>
                        <td>
                            <f:form action="editUser">
                                <f:form.hidden name="account" value="{account}" />

                                <f:form.button>
                                    <i role="presentation" class="material-icons">create</i>
                                </f:form.button>
                            </f:form>
                            
                            <f:form action="deleteUser">
                                <f:form.hidden name="account" value="{account}" />

                                <f:form.button>
                                    <i role="presentation" class="material-icons">delete</i>
                                </f:form.button>
                            </f:form>
                        </td>
                    </tr>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <p>No accounts registered yet.</p>
        </f:else>
    </f:if>
    </div>
</f:section>