<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
  <ul>
        <f:security.ifHasRole role="User">
            <f:then>
                <li>
                    <f:link.action action="index" controller="Dashboard" class="mdl-navigation__link">
                        <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">home</i>
                        Home
                    </f:link.action>
                </li>
                <li>
                    <f:link.action action="index" controller="Settings" class="mdl-navigation__link">
                        <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">settings</i>
                        <f:translate id="settings.index" locale="{langDetector.language}" package="Intega3.Locale" />
                    </f:link.action>
                    <ul>
                        <li>
                            <f:link.action action="messages" controller="Settings" class="mdl-navigation__link">
                                <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">message</i>
                                <f:translate id="settings.messages" locale="{langDetector.language}" package="Intega3.Locale" />
                            </f:link.action>
                        </li>
                        <li>
                            <f:link.action action="user" controller="Settings" class="mdl-navigation__link">
                                <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">face</i>
                                Profil
                            </f:link.action>
                        </li>
                    </ul>
                </li>
                <f:security.ifHasRole role="Admin">
                    <f:then>
                        <li>
                            <f:link.action action="index" controller="Administration" class="mdl-navigation__link"><f:translate id="system.intega" locale="{langDetector.language}" package="Intega3.Locale" /></f:link.action>
                            <ul>
                                <li>
                                    <f:link.action action="configuration" controller="Administration" class="mdl-navigation__link">
                                        <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">settings_applications</i>
                                        <f:translate id="administration.configuration" locale="{langDetector.language}" package="Intega3.Locale" />
                                    </f:link.action>
                                </li>
                                <li>
                                    <f:link.action action="listUsers" controller="Administration" class="mdl-navigation__link">
                                        <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">people</i>
                                        <f:translate id="administration.users" locale="{langDetector.language}" package="Intega3.Locale" />
                                    </f:link.action>
                                </li>
                            </ul>
                        </li>
                    </f:then>
                </f:security.ifHasRole>
                <li>
                    <f:link.action action="logout" controller="Login" class="mdl-navigation__link">
                        <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">exit_to_app</i>
                        <f:translate id="logout" locale="{langDetector.language}" package="Intega3.Locale" />
                    </f:link.action>
                </li>
            </f:then>
            <f:else>
            </f:else>
        </f:security.ifHasRole>
    </ul>
</nav>
